.comment {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #0E1E81;
  border-radius: 8px;
}
.comment:hover {
  border-left: 4px solid #0E1E81;
}
.commentInfo {
  text-align: right;
  font-size: 0.8em;
  opacity: 0.5
}
.activeComment {
  display: inline-block;  
  margin-bottom: 8px;
  border-bottom: 1px solid #0E1E81;
}
.commentId {
  margin-right: 8px;
}