.app {
  display: flex;
  background-color: #0E1E81;
  padding: 16px;
}
button {
  padding: 8px;
  background-color: #0E1E81;
  color: #FFFFFF;
  font-size: 1em;
  border: 1px solid #0E1E81;
  border-radius: 8px;
}
button:hover {
  background-color: #FFFFFF;
  color: #0E1E81;
  border-color: #0E1E81;
}
@media only screen and (max-width: 768px) {
  .app {
    flex-direction: column
  }
}